#maTour {
background-color:#ffeea5;
height:585px;
position:relative;
width:719px;
}
#maTooltip {
z-index:10000;
visibility:hidden;
position:absolute;
border:solid 1px #808080;
color:#000000;
background-color:#fff8dc;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
padding:4px;
font-weight:normal;
font-style:normal;
text-decoration:none;
max-width:200px;
}
#maLayout {
text-align:left;
height:555px;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
position:relative;
width:719px;
}
#maAbsBlock {
overflow:hidden;
position:absolute;
}
#maPageTitle {
background-color:#8dad62;
height:22px;
padding:4px 0px 4px 4px;
text-align:left;
width:715px;
}
#maPageTitleText {
color:#ffffff;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-style:normal;
font-weight:bold;
height:22px;
line-height:22px;
overflow:hidden;
}
#maHotspotTitle {
background-color:#ffeea5;
color:#d14009;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:bold;
}
#maTextArea {
background-color:#ffeea5;
}
#maHotspotText {
background-color:#ffeea5;
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
font-weight:normal;
}
#maMap {
background-color:#ffeea5;
}
.maInstructions, maInstructionsTitle	{
font-family:Arial;
font-size:12px;
}
.maInstructions	{
padding:6px;
border:solid 1px #777;
}
.maInstructionsTitle {
font-weight:bold;
margin-bottom:4px;
}
.maZoomControl	{
z-index:4000;
position:absolute;
top:-4px;
left:-4px;
cursor:pointer;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
